<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Find your Twilio Account Sid and Token at twilio.com/console -->
    <add key="TwilioAccountSid" value="ACxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx" />
    <add key="TwilioAuthToken" value="your_auth_token" />

    <!-- Replace the following with your proxy server's settings -->
    <add key="ProxyServerUrl" value="http://127.0.0.1:8888"/>
    <add key="ProxyUsername" value="your_username"/>
    <add key="ProxyPassword" value="your_password"/>
  </appSettings>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
</configuration>